<a href="https://colab.research.google.com/github/Olamyyde/test-colab/blob/master/131_140_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 131](#1)
* [Exercise 132](#2)
* [Exercise 133](#3)
* [Exercise 134](#4)
* [Exercise 135](#5)
* [Exercise 136](#6)
* [Exercise 137](#7)
* [Exercise 138](#8)
* [Exercise 139](#9)
* [Exercise 140](#10)

### <a name='0'></a> Import of libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
 
np.__version__
sns.set()

### <a name='1'></a> Exercise 131

Load the csv file into a DataFrame object named _df_raw_ with the default parameters of the _pd.read_csv()_ function and display the first 5 rows.
File url:
* https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

In [2]:
# enter solution here
df_raw=pd.read_csv('https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv')
df_raw

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

Copy the _df_raw_ object to the _df_ variable.

In [3]:
# enter solution here
df=df_raw

Display basic information about the object _df_.

In [4]:
# enter solution here
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

Determine the number of missing elements (_np.nan_) in the _df_ object for each variable.

In [24]:
# enter solution here
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### <a name='2'></a> Exercise 132
Note the _TotalCharges_ column. The type of this column is _object_. Try to guess why this happened.

__Tip:__
Look at the variable distribution.

In [26]:
# enter solution here
df['TotalCharges'].value_counts()

           11
20.2       11
19.75       9
19.9        8
19.65       8
           ..
5264.25     1
5705.05     1
3608        1
2362.1      1
2890.65     1
Name: TotalCharges, Length: 6531, dtype: int64

Note that we have 11 null values. To see it better, see below.

In [7]:
df['TotalCharges'].value_counts()[:3].index

Index([' ', '20.2', '19.75'], dtype='object')

This is a space character that has crept into our data. He made the pandas read the entire column as text. As an analyst, we have to deal with such problems. Try to replace the missing values of the _TotalCharges_ column with its median.

In [8]:
# enter solution here

Check if the type has been changed correctly.

In [9]:
# enter solution here
df.info()

### <a name='3'></a> Exercise 133
Convert columns from the list below _categorical_ to type _category_.

In [10]:
# enter solution here
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 
               'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
               'StreamingTV', 'Contract', 'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Churn']

Convert columns from the list below _numerical_ to type _float_.

In [11]:
# enter solution here
numerical = ['tenure', 'MonthlyCharges']

Set the _customerID_ column as the index of the _df_ object and display info about the _df_ object.

In [12]:
# enter solution here

### <a name='4'></a> Exercise 134
Use the _describe()_ method to display basic statistics for the _df_ object.

In [13]:
# enter solution here

Note that these are only numeric variables. Display the basic statistics of categorical variables by passing the appropriate parameter _include_ of the _describe()_ method.

In [14]:
# enter solution here

Note that these are slightly different statistics than for numeric variables.

### <a name='5'></a> Exercise 135
Find the distribution of values for the _Churn_ variable.

In [15]:
# enter solution here

Build a pie chart of the distribution of the _Churn_ variable.

In [16]:
# enter solution here

### <a name='6'></a> Exercise 136
Build the _pairplot()_ chart from the _seaborn_ library. Pass variables:
* tenure
* MonthlyCharges
* TotalCharges


and the parameter: _hue = 'Churn'_.

__Tip:__
https://seaborn.pydata.org/generated/seaborn.pairplot.html

In [17]:
# enter solution here

### <a name='7'></a> Exercise 137
Map the _Churn_ column accordingly:
* 'Yes' -> 1
* 'No' -> 0

Display the first 5 rows of _df_.

In [18]:
# enter solution here

### <a name='8'></a> Exercise 138
Calculate the correlation matrix for the _df_ object.

In [19]:
# enter solution here

### <a name='9'></a> Exercise 139
Find the distribution of _PaymentMethod_.

In [20]:
# enter solution here

Group data by the _PaymentMethod_ variable and calculate the average value for the _TotalCharges_ variable.

In [21]:
# enter solution here

### <a name='10'></a> Exercise 140
Take a sample of 10 rows from the _df_ object and save to _sample_10.csv_.

In [22]:
# enter solution here

Run the cell below to check.

In [23]:
! cat sample_10.csv

cat: sample_10.csv: No such file or directory