<a href="https://colab.research.google.com/github/Olamyyde/test-colab/blob/master/171_180_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 171](#1)
* [Exercise 172](#2)
* [Exercise 173](#3)
* [Exercise 174](#4)
* [Exercise 175](#5)
* [Exercise 176](#6)
* [Exercise 177](#7)
* [Exercise 178](#8)
* [Exercise 179](#9)
* [Exercise 180](#10)

### <a name='0'></a> Import of libraries

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

np.__version__

'1.18.5'

Run the following code to download the _london_bike.csv_ file to your working directory.

In [2]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv

### <a name='1'></a> Exercise 171
Load the _london_bike.csv_ file into the DataFrame object named _df_ and display basic information about the object.

In [10]:
# enter solution here
df=pd.read_csv('london_bike.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

Display the first five rows of _df_.

In [4]:
# enter solution here
df.head()

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182  3.0  ...         0.0         1.0     3.0
1  2015-01-04 01:00:00  138  3.0  ...         0.0         1.0     3.0
2  2015-01-04 02:00:00  134  2.5  ...         0.0         1.0     3.0
3  2015-01-04 03:00:00   72  2.0  ...         0.0         1.0     3.0
4  2015-01-04 04:00:00   47  2.0  ...         0.0         1.0     3.0

[5 rows x 10 columns]

Display the last five rows of _df_.

In [5]:
# enter solution here
df.tail()

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[5 rows x 10 columns]

### <a name='2'></a> Exercise 172
Note that the _timestamp_ column is of type _object_. Replace it with _datetime_.

__Tip:__ Use the _pd.to_datetime()_ function.

In [11]:
# enter solution here
df['timestamp']=pd.to_datetime(df['timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  datetime64[ns]
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 1.3 MB

Add a new column named _hour_ to the _df_ object and assign the time from the _timestamp_ column. Display the first five rows of the _df_ object.

In [12]:
# enter solution here
df['hour'] = df['timestamp'].dt.hour
df.head()

            timestamp  cnt   t1   t2  ...  is_holiday  is_weekend  season  hour
0 2015-01-04 00:00:00  182  3.0  2.0  ...         0.0         1.0     3.0     0
1 2015-01-04 01:00:00  138  3.0  2.5  ...         0.0         1.0     3.0     1
2 2015-01-04 02:00:00  134  2.5  2.5  ...         0.0         1.0     3.0     2
3 2015-01-04 03:00:00   72  2.0  2.0  ...         0.0         1.0     3.0     3
4 2015-01-04 04:00:00   47  2.0  0.0  ...         0.0         1.0     3.0     4

[5 rows x 11 columns]

### <a name='3'></a> Exercise 173
Add a new column named _month_ to the _df_ object and assign the month from the _timestamp_ column. Display the first five rows of the _df_ object.

In [13]:
# enter solution here
df['month'] = df['timestamp'].dt.month
df.head()

            timestamp  cnt   t1   t2  ...  is_weekend  season  hour  month
0 2015-01-04 00:00:00  182  3.0  2.0  ...         1.0     3.0     0      1
1 2015-01-04 01:00:00  138  3.0  2.5  ...         1.0     3.0     1      1
2 2015-01-04 02:00:00  134  2.5  2.5  ...         1.0     3.0     2      1
3 2015-01-04 03:00:00   72  2.0  2.0  ...         1.0     3.0     3      1
4 2015-01-04 04:00:00   47  2.0  0.0  ...         1.0     3.0     4      1

[5 rows x 12 columns]

Group data by month (_month_) and calculate the average value for the variable _hum_. Assign the result to _humidity_by_month_ and reset the index.

In [14]:
# enter solution here
humidity_by_month = df.groupby('month')['hum'].mean().reset_index()
humidity_by_month

    month        hum
0       1  77.543376
1       2  74.905813
2       3  71.903781
3       4  67.532337
4       5  66.367272
5       6  68.945148
6       7  64.383525
7       8  67.289420
8       9  71.753228
9      10  77.639621
10     11  78.732517
11     12  81.032345

Using the _plotly express_ library, build a line chart of the average value of the _hum_ variable for a given month (use the _humidity_by_month_ object).

__Tip:__ Use the _px.line()_ function.

In [17]:
# enter solution here
px.line(humidity_by_month, x='month', y='hum')

Build the same chart this time using the _plotly_dark_ template.

In [16]:
# enter solution here
px.line(humidity_by_month, x='month', y='hum', template='plotly_dark')

Read for which month the average value of the _hum_ variable is the smallest and for which it is the largest.

### <a name='4'></a> Exercise 174
Group data at the hour level (_hour_) and then determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_hour_ and reset the index.

In [18]:
# enter solution here
cnt_by_hour = df.groupby('hour')['cnt'].mean().reset_index()
cnt_by_hour

    hour          cnt
0      0   290.609116
1      1   200.631215
2      2   136.303745
3      3    94.245492
4      4    73.313454
5      5   110.707351
6      6   466.626722
7      7  1468.745179
8      8  2882.823204
9      9  1653.019257
10    10  1064.660690
11    11  1151.218707
12    12  1433.717421
13    13  1505.739011
14    14  1472.004121
15    15  1564.621399
16    16  1869.801370
17    17  2829.585165
18    18  2629.043956
19    19  1651.510316
20    20  1059.781293
21    21   741.249311
22    22   592.409655
23    23   439.652355

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours (use the _cnt_by_hour_ object).

In [19]:
# enter solution here
px.line(cnt_by_hour, x='hour', y='cnt')

### <a name='5'></a> Exercise 175
Group data by variables _is_weekend_ and _hour_ and determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_weekend_hour_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours __on non-weekend days__ (use the _cnt_by_weekend_hour_ object). Set the title of the chart: 'Out of the weekend'.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of _cnt_ by hour __on weekend days__ (use the _cnt_by_weekend_hour_ object). Set the chart title: 'Weekends'.

In [ ]:
# enter solution here

Are there any differences between non-weekend days and weekend days?

### <a name='6'></a> Exercise 176
Using the _plotly express_ library, build the histogram of the _cnt_ variable. Add chart title: 'Histogram of the cnt variable'.

In [ ]:
# enter solution here

Also add a box chart to the histogram.

__Tip:__ Use parameter _marginal_ of function _px.histogram()_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 177
Extract rows for which the _wind_speed_ variable is less than 10.0 and the _hum_ variable is greater than 90.0.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 178
Extract rows for which the _is_weekend_ variable is 1.0. Then copy the result and assign it to the _df_weekend_ variable.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 179
Save the _df_weekend_ object to the _weekend.xlsx_ file. Name the worksheet _london_bike_ and skip saving the index to a file.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 180
Save the first 10 rows of the _df_weekend_ object to the _head10.html_ file.

In [ ]:
# enter solution here